<!-- Done-toDo Could you optimise this piece of code? Added role to improve accessibility -->
<mat-toolbar role="banner">
  <span>Redstor FE Challenger</span>
</mat-toolbar>

<!-- Done-toDo Could you optimise this piece of code? Shouldn't be an anchor element since it is not a link -->
<div class="breadcrumbs">
  <span><strong>Collections</strong></span>
</div>

<div class="layout-container">
  <!-- toDo Could you optimise this piece of code? -->
  <mat-progress-bar *ngIf="isLoading$()"></mat-progress-bar>

  <div class="gallery">
    <!-- Done-toDo Is there another way to rewrite this with new Angular 17 features? Using @for -->
    <!-- toDO Could you improve the styling to be responsive? -->
    @for (collection of collections$(); track $index) {

    <mat-card class="gallery-item thumbnails" [routerLink]="'/collection/' + collection.id">
      <img mat-card-image [src]="collection.cover_photo.urls.small" [alt]="collection.cover_photo.description"
        loading="lazy" />
      <mat-card-content>
        <p class="title">{{ collection.title }}</p>
      </mat-card-content>
    </mat-card>
    }
  </div>

  <mat-paginator [length]="total$()" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true"
    (page)="handlePageEvent($event)" aria-label="Select page">
  </mat-paginator>
</div>