<!-- Done- Could you optimise this piece of code? Moved the header to its own component since it is not specific to this one -->
<app-header></app-header>

<!-- toDo Could you optimise this piece of code? -->
<div class="breadcrumbs">
  <a routerLink="/"><span>{{ 'COLLECTIONS' | translate }}</span></a>
  <span>></span>
  <a (click)="handleGotoCollection()"><span>{{ 'COLLECTION' | translate }}</span></a>
  <span>></span>
  <a class="active"><span>{{ 'PHOTO' | translate }}</span></a>
</div>

<div class="layout-container">
  <!-- Done-toDo Could you optimise this piece of code? Using ng-container-->
  <ng-container *ngIf="isLoading()">
    <mat-progress-bar></mat-progress-bar>
  </ng-container>

  <div class="gallery" fxLayout.sm="column">
    <!-- Done-toDO Could you improve the styling to be responsive? Using scss-->
    <mat-card *ngIf="photo() as photo" class="preview">
      <mat-card-header>
        <img mat-card-avatar [src]="photo.user.profile_image.medium" />
        <mat-card-title>{{ photo.user.first_name }} {{ photo.user.last_name }}</mat-card-title>
        <mat-card-subtitle *ngIf="photo.user.location">
          <mat-icon inline>where_to_vote</mat-icon>
          {{ photo.user.location }}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <div>
          <div>
            <!-- Done-toDO Is there another way to do this operation? Using a pipe -->
            <p>{{ photo.description | formatPhotoDescription }}</p>
          </div>
          <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="end">
            <p fxLayoutAlign="center">
              <mat-icon inline>favorite</mat-icon>
              {{ photo.likes }} likes &nbsp;|&nbsp;&nbsp;
              <mat-icon inline>visibility</mat-icon>
              {{ photo.views }} views
            </p>
          </div>
        </div>
      </mat-card-content>
      <img mat-card-image [src]="photo.urls.full" [alt]="photo.alt_description" />
    </mat-card>
  </div>
</div>